<!DOCTYPE html>
<html>
<head>
	<title>About Page</title>
</head>
<body>
	

	<form >
		<div>
			<h1>Sign up page</h1>
			<p>please fill the sign up page details</p>
		<hr>
		<label for="first_name"><b>First_name</b></label><br :>
		<input type="text" name="first_name" placeholder="First_name" required><br>

		<label for="last_name"><b>Last_name</b></label><br :>
		<input type="text" name="Last_name" placeholder="Last_name" required><br>
			
	 <label for="username"><b>Username</b></label><br :>
      <input type="text" placeholder="Enter Username" name="username" required><br>

      <label for="email"><b>Email</b></label><br :>
      <input type="text" placeholder="Enter Email" name="email" required><br>

      <label for="psw"><b>Password</b></label><br :>
      <input type="password" placeholder="Enter Password" name="psw" required><br>

      <label for="psw-repeat"><b>Repeat Password</b></label><br :>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required><br>
   
      <label>
        <input type="checkbox" checked="checked" name="remember" > Remember me
      </label>

<button> submit</button>
		</div>
		


	</form>
</body>
</html>